services:
{% for site in wordpress_sites %}
  {{ site.name }}:
    image: {{ site.image | default(wordpress_image) | to_json }}
    container_name: {{ site.container_name | default('homelab-wordpress-' ~ site.name) | to_json }}
    restart: {{ site.restart_policy | default(wordpress_restart_policy) | to_json }}
    environment:
      TZ: {{ wordpress_timezone | to_json }}
      WORDPRESS_DB_HOST: {{ site.database_host | default(wordpress_database_host) | to_json }}
      WORDPRESS_DB_NAME: {{ site.database_name | to_json }}
      WORDPRESS_DB_USER: {{ site.database_user | to_json }}
      WORDPRESS_DB_PASSWORD: {{ site.database_password | to_json }}
      WORDPRESS_TABLE_PREFIX: {{ site.table_prefix | to_json }}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_MEMORY_LIMIT', '{{ site.php_memory_limit | default(wordpress_php_memory_limit) }}');
        define('WP_MAX_MEMORY_LIMIT', '{{ site.php_memory_limit | default(wordpress_php_memory_limit) }}');
    volumes:
      - {{ (wordpress_data_root ~ '/' ~ site.name ~ ':/var/www/html') | to_json }}
      - {{ (wordpress_config_root ~ '/' ~ site.name ~ '/wp-config.php:/var/www/html/wp-config.php:ro') | to_json }}
    networks:
      - homelab-public
      - homelab-db

{% endfor %}
networks:
  homelab-public:
    external: true
  homelab-db:
    external: true
