# {{ ansible_managed }}
PermitRootLogin {{ ssh_hardening_permit_root_login }}
PasswordAuthentication {{ ssh_hardening_password_authentication }}
KbdInteractiveAuthentication {{ ssh_hardening_kbd_interactive_authentication }}
PermitEmptyPasswords {{ ssh_hardening_permit_empty_passwords }}
LoginGraceTime {{ ssh_hardening_login_grace_time }}
ClientAliveInterval {{ ssh_hardening_client_alive_interval }}
ClientAliveCountMax {{ ssh_hardening_client_alive_count_max }}
MaxAuthTries {{ ssh_hardening_max_auth_tries }}
AllowUsers {{ ssh_hardening_allow_users_entries | join(' ') }}
